body {
	text-align: center;
	margin-top: 5%;
}

h1{
	color: red;
}

button{
	padding: 2em;
}

#diceTable{
	padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.diceStyle{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	height: 3em;
	width: 3em;
	padding: 1em;
	color: black;
	border: 1px solid red;
}

#diceNumber{
	padding: 2em;
}