body {
	text-align: center;
	margin-top: 5%;
	background-image: url('img/background.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

h1{
	color: red;
}

p{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100px;
}


button{
	padding: 2em;
}

#diceTable{
	padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.diceStyle{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	height: 3em;
	width: 3em;
	padding: 1em;
	color: black;
	border: 1px solid black;
	background-color: #FFF;
}

#diceNumber{
	padding: 2em;
}